<!-- insert_animal.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Management report</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
</head>
<body>
    <div id="header">
        <h1>Zoo Management report</h1>
        <div class="stripe"></div>
    </div>
    <div class="form-container">
        <div class="form-section">
            <a href="/Menu">Back</a>
        </div>

    </div>
    <div class="records-section">
        <h2>Produce Report</h2>
        {% if records != None %}
            <table border="1">
                <tr>
                    <th>Animal</th>
                    <th>Status</th>
                    <th>Population</th>
                </tr>
    
                {% for animal_data in records[0][1] %}
                    <tr>
                        {% for value in animal_data %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <table border="1">
                <tr>
                    <th>Animal</th>
                    <th>Food Cost</th>
                </tr>
    
                {% for animal_data in records[1][1] %}
                    <tr>
                        {% for value in animal_data %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <table border="1">
                <tr>
                    <th>First Name</th>
                    <th>First Name</th>
                    <th>Job</th>
                    <th>Cost</th>
                </tr>
    
                {% for animal_data in records[2][1] %}
                    <tr>
                        {% for value in animal_data %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="no-data">No animal data in Zoo Database</p>
        {% endif %}
    </div>
    
    
</body>
</html>
