<!-- insert_animal.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Animal</title>
</head>
<body>
    <h1>Insert Animal</h1>
    <form action="/Insert" method="post">
        <label for="ID">ID:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="species ID">Species ID:</label>
        <input type="text" id="species" name="species" required><br>

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" required><br>

        <label for="birth_year">Birth Year:</label>
        <input type="number" id="birth_year" name="birth_year" required><br>

        <label for="enclosure_id">Enclosure ID:</label>
        <input type="number" id="enclosure_id" name="enclosure_id" required><br>

        <button type="submit">Insert Animal</button>
    </form>
</body>
</html>
