

<!-- insert_animal.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Animal</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
</head>
<body>
    <div id="header">
        <h1>Zoo Management System</h1>
        <div class="stripe"></div>
    </div>
    <div class="form-container">
        <div class="form-section">
            <a href="/Menu">Back</a>
            <h1>Insert Animal</h1>
            <form action="/InsertAnimal" method="post">
                <!-- Insert form fields here -->
                <label for="species_ID">Species ID:</label>
                <input type="text" id="species_ID" name="species_ID" required><br>
        
                <label for="status">Status:</label>
                <input type="text" id="status" name="status" required><br>
        
                <label for="birth_year">Birth Year:</label>
                <input type="number" id="birth_year" name="birth_year" required><br>
        
                <label for="enclosure_id">Enclosure ID:</label>
                <input type="number" id="enclosure_id" name="enclosure_id" required><br>
        
                <button type="submit">Insert Animal</button>
            </form>
        </div>

        <div class="form-section">
            <h1>Update Animal</h1>
            <form action="/UpdateAnimal" method="post">
                <!-- Update form fields here -->
                <p>Enter Animal ID to update that animal</p>
                <label for="animal_ID">Animal ID:</label>
                <input type="text" id="animal_ID" name="animal_ID" ><br>
        
                <p>Enter the fields that need to be updated associated with the animal ID above</p>
                <p>If you only need to update one field, leave the rest blank and enter new info in that field</p>
                <label for="update_species_ID">Species ID:</label>
                <input type="text" id="update_species_ID" name="species_ID" ><br>
        
                <label for="update_status">Status:</label>
                <input type="text" id="update_status" name="status" ><br>
        
                <label for="update_birth_year">Birth Year:</label>
                <input type="number" id="update_birth_year" name="birth_year" ><br>
        
                <label for="update_enclosure_id">Enclosure ID:</label>
                <input type="number" id="update_enclosure_id" name="enclosure_id" ><br>
        
                <button type="submit">Update Animal</button>
            </form>
        </div>
    </div>

    <div class="records-section">
        <h2>Records</h2>
        {% if records != 2 %}
            {% for first_key in records.keys() %}
                <h1>{{ first_key }}</h1>
                <table border="1">
                    <tr>
                        {% for second_keys in records[first_key][0] %}
                            <th>{{ second_keys }}</th>
                        {% endfor %}
                    </tr>
                    {% for list_value in records[first_key] %}
                        <tr>
                            {% for key, value in list_value.items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% else %}
            <p class="no-data">No animal data in Zoo Database</p>
        {% endif %}
    </div>
    
</body>
</html>
