<!-- insert_animal.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Attraction Management</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
</head>
<body>
    <div id="header">
        <h1>Zoo Management System</h1>
        <div class="stripe"></div>
    </div>
    <div class="form-container">
        <div class="form-section">
            <a href="/Menu">Back</a>
            <h1>Insert Attraction</h1>
            <form action="/InsertAttraction" method="post">

                <label for="name_attraction"> Name of Attraction:</label>
                <input type="text" id="name_attraction" name="name_attraction" required><br>
               
                <label for="s_price"> Senior Price:</label>
                <input type="number" id="s_price" name="s_price" required><br>
        
                <label for="a_price"> Adult Price:</label>
                <input type="number" id="a_price" name="a_price" required><br>

                <label for="c_price"> Child Price:</label>
                <input type="number" id="c_price" name="c_price" required><br>

                <label for="num_show"> Number of Shows:</label>
                <input type="number" id="num_show" name="num_show" required><br>

                <label for="num_req"> Number Requested:</label>
                <input type="number" id="num_req" name="num_req" required><br>

                <label for="species_id"> Specied ID:</label>
                <input type="number" id="species_id" name="species_id" required><br>

                <button type="submit">Insert Attraction</button>
            </form>
        </div>

        <div class="form-section">
            <h1>Update Attraction</h1>
            <form action="/UpdateAttraction" method="post">

                <label for="id_attraction"> Attraction ID :</label>
                <input type="number" id="id_attraction" name="id_attraction" required><br>

                <label for="s_price"> Senior Price:</label>
                <input type="number" id="s_price" name="s_price" ><br>
        
                <label for="a_price"> Adult Price:</label>
                <input type="number" id="a_price" name="a_price" ><br>

                <label for="c_price"> Child Price:</label>
                <input type="number" id="c_price" name="c_price" ><br>

                <label for="num_show"> Number of Shows:</label>
                <input type="number" id="num_show" name="num_show" ><br>

                <button type="submit">Update Building</button>
            </form>
        </div>
    </div>

    <div class="records-section">
        <h2>Records</h2>
        {% if records != 2 %}
            {% for first_key in records.keys() %}
                <h1>{{ first_key }}</h1>
                <table border="1">
                    <tr>
                        {% for second_keys in records[first_key][0] %}
                            <th>{{ second_keys }}</th>
                        {% endfor %}
                    </tr>
                    {% for list_value in records[first_key] %}
                        <tr>
                            {% for key, value in list_value.items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% else %}
            <p class="no-data">No animal data in Zoo Database</p>
        {% endif %}
    </div>
    
</body>
</html>
