<!-- insert_animal.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Management</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
</head>
<body>
    <div id="header">
        <h1>Zoo Management System</h1>
        <div class="stripe"></div>
    </div>
    <div class="form-container">
        <div class="form-section">
            <a href="/Menu">Back</a>
            <h1>Insert Building</h1>
            <form action="/InsertBuilding" method="post">
                <label for="name_building"> Name:</label>
                <input type="text" id="name_building" name="name_building" required><br>
        
                <label for="type">Type:</label>
                <input type="text" id="type" name="type" required><br>

                <label for="enclosure">Enclosure:</label>
                <select id="enclosure" name="enclosure" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br>

                <label for="sq_ft">Sq ft:</label>
                <input type="number" id="sq_ft" name="sq_ft" ><br>

                <button type="submit">Insert Building</button>
            </form>
        </div>

        <div class="form-section">
            <h1>Update Building</h1>
            <form action="/UpdateBuilding" method="post">
                <p>Enter Animal ID to update that animal</p>
                <label for="building_ID">Building ID:</label>
                <input type="text" id="building_ID" name="building_ID" required ><br>
        
                <p>Enter the fields that need to be updated associated with the animal ID above</p>
                <p>If you only need to update one field, leave the rest blank and enter new info in that field</p>
                <label for="update_name">Building name:</label>
                <input type="text" id="update_name" name="update_name" ><br>
        
                <label for="update_type">Type:</label>
                <input type="text" id="update_type" name="update_type" ><br>

                <button type="submit">Update Building</button>
            </form>
        </div>
    </div>

    <div class="records-section">
        <h2>Records</h2>
        {% if records != 2 %}
            {% for first_key in records.keys() %}
                <h1>{{ first_key }}</h1>
                <table border="1">
                    <tr>
                        {% for second_keys in records[first_key][0] %}
                            <th>{{ second_keys }}</th>
                        {% endfor %}
                    </tr>
                    {% for list_value in records[first_key] %}
                        <tr>
                            {% for key, value in list_value.items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% else %}
            <p class="no-data">No animal data in Zoo Database</p>
        {% endif %}
    </div>
    
</body>
</html>
