<!-- insert_animal.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Animal</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
</head>
<body>
    <div id="header">
        <h1>Zoo Management System</h1>
        <div class="stripe"></div>
    </div>
    <div class="form-container">
        <div class="form-section">
            <a href="/Menu">Back</a>
            <h1>Insert Employee</h1>
            <form action="/InsertEmployee" method="post">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required><br>

                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required><br>

                <label for="minit">Minit:</label>
                <input type="text" id="minit" name="minit" maxlength="1"><br>

                <label for="job_type">Job Type:</label>
                <input type="text" id="job_type" name="job_type" required><br>

                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" required><br>

                <label for="street">Street:</label>
                <input type="text" id="street" name="street" required><br>

                <label for="city">City:</label>
                <input type="text" id="city" name="city" required><br>

                <label for="state">State:</label>
                <input type="text" id="state" name="state" required><br>

                <label for="zip">ZIP:</label>
                <input type="text" id="zip" name="zip" maxlength="10" required><br>

                <label for="supervisor">Supervisor:</label>
                <select id="supervisor" name="supervisor" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br>

                <label for="rate">Hourly Rate:</label>
                <input type="text" id="rate" name="rate" maxlength="10" required><br>

                <button type="submit">Insert Employee</button>
            </form>
        </div>

        <div class="form-section">
            <h1>Update Employee</h1>
            <form action="/UpdateEmployee" method="post">
                <p>Enter Employee ID to update that employee</p>
                <label for="employee_ID">Employee ID:</label>
                <input type="text" id="employee_ID" name="employee_ID" required><br>

                <p>Enter the fields that need to be updated associated with the employee ID above</p>
                <p>If you only need to update one field, leave the rest blank and enter new info in that field</p>

                <label for="update_job_type">New Job:</label>
                <input type="text" id="update_job_type" name="update_job_type"><br>

                <label for="update_street">Street:</label>
                <input type="text" id="update_street" name="update_street"><br>

                <label for="update_city">City:</label>
                <input type="text" id="update_city" name="update_city"><br>

                <label for="update_state">State:</label>
                <input type="text" id="update_state" name="update_state"><br>

                <label for="update_zip">ZIP:</label>
                <input type="text" id="update_zip" name="update_zip" maxlength="10"><br>

                <label for="update_supervisor">Supervisor:</label>
                <select id="update_supervisor" name="update_supervisor">
                    <option value=""></option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br>

                <label for="update_rate">Hourly Rate:</label>
                <input type="text" id="update_rate" name="update_rate" maxlength="10"><br>

                <button type="submit">Update Employee</button>
            </form>
        </div>
    </div>

    <div class="records-section">
        <h2>Records</h2>
        {% if records != 2 %}
            {% for first_key in records.keys() %}
                <h1>{{ first_key }}</h1>
                <table border="1">
                    <tr>
                        {% for second_keys in records[first_key][0] %}
                            <th>{{ second_keys }}</th>
                        {% endfor %}
                    </tr>
                    {% for list_value in records[first_key] %}
                        <tr>
                            {% for key, value in list_value.items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% else %}
            <p class="no-data">No animal data in Zoo Database</p>
        {% endif %}
    </div>
    
</body>
</html>
